.imagen-ruta{
    width: 80%;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.254);
}

.bi{
    color:#F91128;
}

#section{
    display: none;
    
    border-radius: 10px 10px 0px 0px;
}

#cerrar{
    display: none;
}


body{
    
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* background-repeat: no-repeat; */
}

.titulo-final{
    color: white;
}